
body
{
  margin: 0%;
  padding: 0%;
  background-image: url(./Media/pizza-3007395_1920.jpg);
  background-attachment: fixed;
  color: rgb(235, 225, 225);
  background-blend-mode:overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.842);
}
header {
  margin: 0%;
  padding: 0%;
  display: flex;
  /* border: 3px solid red; */
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.705);
  background-blend-mode:overlay;
  background-image: url(./Media/Bg1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  text-align: center;
  justify-content: center;
}
header ul li {
  list-style: none;
  /* border: 1px solid black; */
  padding: 10px;
}
header ul li a {
  text-decoration: none;
  display: flex;
  color: white;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  /* border: 1px solid black; */
}
header ul li a:hover
{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 235, 205, 0.623);

}
main
{

}
main div h1
{
  text-align: center;
  font-style:oblique;
  font-weight: bolder;
}
main div p
{
  text-align:center;
  font-style: oblique;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media only screen and (max-width: 600px) {

  header {
    display:flex;
    justify-content: center;
    align-items: center;
  }
}